/* body{
  font-family: 'Nunito', sans-serif;
  background-image: url(https://images.pexels.com/photos/1029141/pexels-photo-1029141.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-size:100% 100%;
  min-height: 600px;
} */
body{
  font-family: Google Sans,Roboto,Noto,sans-serif;
  background-image: url(https://images.pexels.com/photos/7130497/pexels-photo-7130497.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
}